.App {
  text-align: center;
  background-color: aquamarine;
  align-items: end;
}
.App.navbar {
  align-items: end;
}
.navbar {
  align-items: end;
  text-align: right;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0cbced;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(222, 0, 0);
}

.App-link {
  color: #0cbced;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
